.blog{
    text-align: left;
}
.img_div img{
    display: block;
    width: 60%;
    height: 500px;
    margin: 3% auto;
    background-color: azure;
}

.content {
    margin: 1px auto;
    width: 80%;
    display: flex;
}
.content div:nth-child(1){
    width: 20%;
}
.discription{
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(41, 41, 41, 1);
    font-size: 42px;
    width: 80%;
    padding: 1% 10%;
}

.heading p {
    width: 500px !important;
    height: 50px;
    overflow: hidden;
    margin: 5px;
}
.para p{
    font-size: 16px;
    line-height: 38px;
    height: 1000px;
    overflow: hidden;
}
.content_details p{
    width: fit-content;
}
.content_details{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.read{
    display: flex;
    align-items: center;
    min-width: 300px;
}
.read img {
    width: 15%;
    height: 80%;
}
.read p {
    margin: 2px;
}
.grey {
    color: grey;
    font-size: 12px;
}
.sociallinks{
    margin-right: 5%;
}
.sociallinks a{
    font-size: 18px;
    color: grey;
    margin: 4px;
}
.sociallinks a:hover{
    color: lightblue;
}
.read span {
    font-size: 11px;
    background-color: rgba(26, 137, 23, 1);
    color: white;
    padding: 2px;
    border-radius: 2px;
}
.left_nav{
    margin: 1% auto;
    float: right;
    position: sticky !important;
    top: 150;
    margin-top: 20%;
}
.left_nav h2{
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 3px;
    margin-left: 40%;
}
.left_nav h2:nth-child(2){
    color: grey;
    font-size: 12px;
    width: 60%;
    line-height: 18px;
}
.left_nav button {
    border: none;
    background-color: rgba(26, 137, 23, 1);
    color: white;
    font-size: 12px;
    padding: 7px;
    width: 60px;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 40%;
}
.left_nav hr{
    margin-left: 40%;
    color: grey;
}
.more_blogs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24%;
    margin: .3%;
}
.more_blogs div:nth-child(1){
    width: 180%;
}
.blog_stories{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 10px auto 40px auto;
}
.more_blogs img{
    width: 90px;
    height: 60px;
    background-color: azure;
}
.more_blogs_links{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.more_blogs_links p{
    font-weight: bolder;
    cursor: pointer;
    margin: 5px 2px;
}
.more_blogs_links span {
    font-size: 11px;
    margin: 5px 2px;
}
.stories{
    width: 75%;
    margin: 10px auto;
}
.like_buttons{
    display: flex;
    color: grey;
    align-items: center;
    font-size: 20px;
    margin: 8% 35%;
    cursor: pointer;
}
.like_buttons svg {
    min-width: 40px;
}
.like_buttons span {
    font-size: 12px;
}
.bookmark{
    font-size: 20px;
    color: grey;
    margin: 2% 40%;
    width: 40px;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 hr{
    margin-top: 3px;
}
.flex_div{
    display: flex;
    align-items: center;
}
.like {
    display: flex;
    align-items: center;
    min-width: 60px;
    color: grey;
}
.like p{
    margin: 3px;
    height: fit-content;
}
.like svg{
    font-size: 24px;
    min-width: 24px;
}
